.hero {
    background-image: url('static/img/WhatsApp Image 2024-09-21 at 14.04.16.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.plant-card img {
    height: 200px;
    object-fit: cover;
}

.auth-links {
    margin-top: 20px;
}

.login-form {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}

.login-form h2 {
    margin-bottom: 20px;
}

.register-form {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}

.register-form h2 {
    margin-bottom: 20px;
}